@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<text>
    Vitaliy Nikitchyn
</text>

<address>
    Kyiv, Ukraine<br />
    <br />
    <abbr title="Phone">P:</abbr>
    097 777 0 567
</address>

<address>
    <strong>email:</strong>   <a href="mailto:vnikitchyn@gmail.com">vnikitchyn@gmail.com</a><br />
</address>