@{
    ViewBag.Title = "Home Page";
    ViewBag.CustmosiedOyOyAy = "Custom Pagek";
}

<div class="jumbotron">
    <h1>Airport manager</h1>
    <p class="lead">Wellcome to Airport manager learning project.</p>
    <picture>
        <img src="/Pics1/Airport.jpg" alt="airportpic1" style="max-width:500px;" />        
    </picture>
  
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Short description</h2>
        <p>
            Airport can...
        </p>
    </div>
</div>