
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllFlights</title>
</head>
<body>
    <div> 
            @{
                foreach (var flight in Model)
                {
                    <div>@flight.ToString()</div>
                                 }
            }
    </div>
</body>
</html>

