

@{
    ViewBag.Title = "Find";
}

<h2>Find</h2>


@using (Html.BeginForm("Find", "Flight"))
{
    <p>
    <p>Name: <input type="text" name="number" /></p>
    <input type="submit" value="Find" />
    </p>
} 
